@import "../../variables.scss";

.hero {
  background-image: url("../../../public/hero.webp");
  height: 650px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: $pure-white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 15px;
  div {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 21px;
    p {
      line-height: 162.5%;
      margin-bottom: 10px;
    }
  }
}

/*  Smaller Desktop */
@media (min-width: 769px) and (max-width: 1024px) {
  .hero {
    div {
      width: 38%;
    }
  }
}

/* Tablet  */
@media (min-width: 361px) and (max-width: 768px) {
  .hero {
    padding: 0;
    height: 500px;
    div {
      width: 50%;
    }
  }
}

/* Mobile */
@media (max-width: 360px) {
  .hero {
    height: 500px;
    padding: 40px 15px;
    display: block;
    div {
      width: 100%;
      display: block;
      p {
        margin: 21px 0 32px;
      }
    }
  }
}
