@import "../../variables.scss";

.form {
  width: 33%;
  display: flex;
  flex-direction: column;
  gap: 50px;

  //common inputs style
  .helper {
    font-family: inherit;
    position: absolute;
    bottom: -15px;
    left: 0;
    color: $secondary-text-color;
    font-size: 12px;
    line-height: 116.667%;
  }
  .error {
    color: $error-color;
    border-color: $error-color;
    border-width: 2px;
  }

  // radio buttons
  .radio_wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
    label {
      display: flex;
      gap: 12px;
      cursor: pointer;
    }
  }

  button {
    align-self: center;
  }

  img {
    width: 100vw;
  }
}

/*  Smaller Desktop */
@media (min-width: 769px) and (max-width: 1024px) {
  .form {
    gap: 49px;
    width: 37%;
    .radio_wrapper {
      gap: 10px;
    }
  }
}

/* Tablet  */
@media (min-width: 361px) and (max-width: 768px) {
  .form {
    gap: 49px;
    width: 50%;
    .radio_wrapper {
      gap: 10px;
    }
  }
}

/* Mobile */
@media (max-width: 360px) {
  .form {
    gap: 45px;
    width: 100%;
    .radio_wrapper {
      gap: 10px;
    }
  }
}
