@import "./variables.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: $app-bg-color;
  color: $primary-text-color;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: normal;
}

h2 {
  font-size: 40px;
  line-height: 100%;
  text-align: center;
}

input {
  background: transparent;
  width: 100%;
  border: 1px solid $border-color;
  border-radius: 4px;
}

.MuiTooltip-tooltip {
  background-color: rgba(0, 0, 0, 0.87) !important;
}

.MuiCircularProgress-circle {
  color: $secondary-accent-color;
}
