// colors
$primary-accent-color: #f4e041;
$hover-btn-color: #ffe302;
$disabled-btn-color: #b4b4b4;
$secondary-accent-color: #00bdd3;
$app-bg-color: #f8f8f8;
$disabled-btn-text-color: #ffffffde;
$pure-white: #fff;
$primary-text-color: #000000de;
$secondary-text-color: #7e7e7e;
$border-color: #d0cfcf;
$error-color: #cb3d40;

// sizes
$app-max-width: 1170px;
