@import "../../variables.scss";

.postSection {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;

  img {
    width: 100%;
  }
}

/*  Smaller Desktop */
@media (min-width: 769px) and (max-width: 1024px) {
  .postSection {
    gap: 40px;
  }
}

/* Mobile */
@media (max-width: 360px) {
  .postSection {
    padding: 0 16px;
  }
}
